* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  background-color: lightsteelblue;
}

footer {
  background-color: steelblue;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

p,
strong,
p a {
  font-family: 'PT Serif', serif;
}

/* ---- Estilo del Header ---- */
.header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-items: center;
  padding: 1rem;
}

.header .header-titulo {
  width: fit-content;
  height: fit-content;
}

.logo {
  border-radius: 50%;
  max-width: 100px;
}


/* ---- Estilo de la barra de Nav ---- */
nav {
  background-color: steelblue;
}

.lista-nav {
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
}

.lista-nav li {
  text-align: center;
  border: 1px solid lightsteelblue;
}

.lista-nav a {
  color: white;
}

/* ---- Estilo del Main ---- */
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.info__titulo {
  text-align: center;
}

.info__texto {
  width: fit-content;
  margin: 0 auto;
}

.info__texto h3 {
  text-align: center;
}

.info img {
  min-height: 200px;
  object-fit: cover;
}

/* ---- Estilo del Footer ---- */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  color: white;
}

i {
  font-size: 2rem;
}

.footer img {
  width: 20vw;
  max-width: 60px;
}

.footer ul li {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
  /* align-content: space-evenly; */

}

.footer a {
  color: white;
  text-decoration: underline;
}

/* ---- Estilo de la Discografía ---- */
.disco-titulo {
  text-align: center;
}

.lista-discografia li {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid black;
}

.lista-discografia img {
  width: 60vw;
  max-width: 200px;
}


/* ---- Acá arranca el Media Query para tablets ---- */
@media(min-width:420px) {
  .footer {
    justify-content: space-between;
  }

  .footer ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    /* justify-content: space-between; */
    align-items: center;
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  li a {
    text-align: center;
  }

  .lista-discografia li {
    align-items: center;
    grid-template-columns: 1fr 2fr;
  }

}


/* ---- Media Query para Desktop ---- */
@media(min-width: 1200px) and (orientation: landscape) {

  .lista-nav {
    grid-template-columns: repeat(6, max-content);
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 0.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .lista-nav li {
    border: none
  }

  .lista-nav a {
    text-decoration: underline;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    justify-items: center;
    max-width: 1800px;
    margin: 0 auto;


  }

  .info img {
    max-height: 80vh;
  }

  .img-span2 {
    grid-column: span 2;
  }

  .info__titulo {
    grid-column: span 2;
  }

  .lista-discografia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin: 1rem;
  }

  .lista-discografia li {

    border: none;
  }

  .footer ul {
    grid-template-columns: repeat(3, 200px)
  }

  i {
    font-size: 3rem;
  }
}

/* Estilo de los icons */