* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html,
body,
header {
  background-color: lightsteelblue;
}

footer {
  background-color: steelblue;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

p,
strong,
p a {
  font-family: 'PT Serif', serif;
}

/* ---- Estilo del Header ---- */
.header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  /* gap: 1rem; */
  align-items: center;
  justify-items: center;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.header .header-titulo {
  width: fit-content;
  height: fit-content;
}

.header i {
  color: black
}

.logo {
  order: 1;
}

.logo img {
  border-radius: 50%;
  width: 60px;
}


/* ---- Estilo de la barra de Nav ---- */


.btn {
  background-color: lightsteelblue;
}

.btn:hover {
  background-color: lightsteelblue;
  border: none;

}

.lista-nav-bs {
  background-color: steelblue;
}

.lista-nav-bs li {
  text-align: center;
  border-bottom: 1px solid lightsteelblue;
}

.li1 {
  border-top: 1px solid lightsteelblue;
}

.lista-nav-bs a {
  color: white;
}

.lista-nav {
  display: none;
}

/* ---- Estilo del Main ---- */
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.info__titulo {
  text-align: center;
}

.info__texto {
  width: fit-content;
  margin: 0 auto;
  text-align: justify;
}

.info__texto h3 {
  text-align: center;
}

.info img {
  min-height: 200px;
  object-fit: cover;
}

/* ---- Estilo del Footer ---- */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  color: white;
}

i {
  font-size: 2rem;
}

.footer img {
  width: 20vw;
  max-width: 60px;
}

.footer ul li {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;

}

.footer a {
  color: white;
  text-decoration: underline;
}

/* ---- Estilo de la Discografía ---- */
.discografia__titulo {
  text-align: center;
}

.discografia__lista {
  padding-left: 0;
}

.lista-discografia li {
  display: grid;
  padding: 1rem;
  gap: 1rem;
  border-bottom: 1px solid black;
}

.lista-discografia p {
  text-align: justify;
}

.lista-discografia img {
  width: 60vw;
  max-width: 200px;
}


/* ---- Acá arranca el Media Query para tablets ---- */







/* ---- Media Query para Desktop ---- */
@media(min-width: 1024px) and (orientation: landscape) {


  .info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    align-items: center;
    justify-items: center;
    max-width: 1800px;
    margin: 0 auto;
  }

  .info__texto {
    padding: 1rem;
  }

  .info img {
    max-height: 80vh;
  }

  .img-span2 {
    grid-column: span 2;
  }

  .info__titulo {
    grid-column: span 2;
  }

  .lista-discografia {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem;
  }

  .lista-discografia li {
    text-align: center;
    border-bottom: 1px solid lightsteelblue;
    border: none;
  }






}