$color-principal: lightsteelblue;
$color-secundario: steelblue;
$color-terciario: #d7b777;
$sans-serif: 'Poppins', sans-serif;
$serif: 'PT Serif', serif;

* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  background-color: $color-principal;
}

body,
header {
  background-color: transparent;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
}

i {
  font-size: 2rem;
}

p,
strong,
p a {
  font-family: $serif;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

@media(min-width:1024px) and (orientation: landscape) {
  i {
    font-size: 3rem;
  }
}

@mixin caja-flex ($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin texto-centro {
  text-align: center;
}

.texto-chico {
  font-size: 1.2rem;
}

@keyframes caida {
  80% {
    top: 1rem
  }

  100% {
    top: 120%;
  }
}

@keyframes caida-texto1 {
  35% {
    color: transparent;
  }

  36% {
    color: black;
  }

  49% {
    color: black;
  }

  50% {
    color: transparent;
  }

  100% {
    color: transparent;
  }
}

@keyframes caida-texto2 {
  81% {
    color: transparent;
  }

  82% {
    color: black;

  }

  90% {
    color: black;

  }

  91% {
    color: transparent;
  }

  100% {
    color: transparent;
  }
}

@keyframes caida-texto3 {
  81% {
    color: transparent;
  }

  82% {
    color: black;

  }

  90% {
    color: black;

  }

  91% {
    color: transparent;
  }

  100% {
    color: transparent;
  }
}