$color-principal: lightsteelblue;
$color-secundario: steelblue;
$color-terciario: #d7b777;
$sans-serif: 'Poppins', sans-serif;
$serif: 'PT Serif', serif;

* {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html,
body,
header {
  background-color: $color-principal;
}

img {
  max-width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sans-serif;
}

i {
  font-size: 2rem;
}

p,
strong,
p a {
  font-family: $serif;
}

@media(min-width:1024px) and (orientation: landscape) {
  i {
    font-size: 3rem;
  }
}

@mixin caja-flex ($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin texto-centro {
  text-align: center;
}