.titulo {
  @include texto-centro;
  padding: 1rem
}

.tienda {
  @include caja-flex(column, space-evenly, center);
  padding: 1rem;
  gap: 1rem;

}

@media(min-width: 550px) {
  .tienda {
    @include caja-flex(row, space-around, center);
    flex-wrap: wrap;
    justify-items: center;
    max-width: 1200px;
    margin: auto auto;

    &__titulo {
      grid-column: span 2;
    }
  }
}