.footer {
  background-color: $color-secundario;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  color: white;
  border-top: 1px black solid;

  img {
    width: 20vw;
    max-width: 60px;
  }

  ul {
    padding: 0;
  }

  li {
    a {
      @include caja-flex(row, center, center);
      gap: 1rem;
      color: white;
      text-decoration: underline;
    }
  }
}

@media(min-width:420px) {

  .footer {
    justify-content: space-between;

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
      gap: 1rem;
      max-width: 1200px;
      margin: 0 auto;

      li a {
        text-align: center;
      }
    }
  }
}

@media(min-width: 1024px) and (orientation: landscape) {

  .footer ul {
    grid-template-columns: repeat(3, 200px);

    li a {

      color: white;
      text-decoration: none;
      transition-property: text-shadow, background-color;
      transition-duration: 0.1s;

      &:hover {
        text-shadow: 5px 5px 5px black;

      }
    }

  }
}

.footer-index {

  @media (min-width: 1200px) {

    margin-top: auto;
  }

  &__div {
    @extend .footer;

  }
}