.lista-nav {
  display: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  border-bottom: 1px solid black;

  &__titulo {
    @include texto-centro;
    width: fit-content;
    height: fit-content;
  }

  i {
    color: black
  }

  .logo {
    order: 1;

    img {
      border-radius: 50%;
      width: 60px;
    }
  }

  .btn {
    background-color: $color-principal;
    border: none;

    &:hover {
      background-color: $color-principal;
      border: none;
    }
  }

  .dropdown-item {
    &:hover {
      background-color: $color-secundario;
      text-shadow: black 5px 5px 5px;
    }
  }

  .lista-nav-bs {
    background-color: steelblue;

    li {
      text-align: center;
      border-bottom: 1px solid $color-principal;
    }

    .li1 {
      border-top: 1px solid $color-principal;
    }

    a {
      color: white;
    }
  }

  .charly-cayendo {
    width: 50px;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1;
    animation-name: caida;
    animation-duration: 15s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.91, .03, .55, 1.2);
  }
}

@media(max-width:1024px) {
  .charly-cayendo {

    &__texto1,
    &__texto2,
    &__texto3 {
      display: none;
    }
  }
}

@media(min-width: 1024px) and (orientation: landscape) {
  .header {
    grid-template-columns: 1fr 4fr 1fr;

    .logo {
      order: 0;

      img {
        width: 80px;
      }
    }

    .btn {
      display: none;
    }

    .charly-cayendo {
      &__texto1 {
        position: fixed;
        right: 4rem;
        top: 3rem;
        color: transparent;
        animation-name: caida-texto1;
        animation-duration: 15s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
      }

      &__texto2 {
        color: transparent;
        position: fixed;
        right: 4rem;
        top: 5rem;
        animation-name: caida-texto2;
        animation-duration: 15s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
      }

      &__texto3 {
        color: transparent;
        position: absolute;
        right: 4rem;
        top: 5rem;
        animation: caida-texto3 20s 1 linear;
      }
    }
  }

  .nav {
    order: 1;
    grid-column: span 3;
    background-color: steelblue;
  }

  .div-nav {
    border-bottom: 1px solid black;
    background-color: steelblue;
  }

  .lista-nav {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 0.5rem;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    background-color: steelblue;

    li {
      border: none;

      a {
        color: white;
        text-decoration: none;
        transition-property: text-shadow, background-color;
        transition-duration: 0.1s;

        &:hover {
          text-shadow: 5px 5px 5px black;

        }
      }
    }
  }

}