.header {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 1rem;
  border-bottom: 1px solid black;

  &-titulo {
    width: fit-content;
    height: fit-content;
  }

  i {
    color: black
  }

  .logo {
    order: 1;

    img {
      border-radius: 50%;
      width: 60px;
    }
  }

  .btn {
    background-color: $color-principal;

    &:hover {
      background-color: $color-principal;
      border: none;
    }
  }

  .lista-nav-bs {
    background-color: steelblue;

    li {
      text-align: center;
      border-bottom: 1px solid $color-principal;
    }

    .li1 {
      border-top: 1px solid $color-principal;
    }

    a {
      color: white;
    }
  }

  .lista-nav {
    display: none;
  }

}



@media(min-width: 1024px) and (orientation: landscape) {
  .header {
    grid-template-columns: 1fr 4fr 1fr;

    .logo {
      order: 0;

      img {
        width: 80px;
      }
    }

  }

  .nav {
    order: 1;
    grid-column: span 3;
    background-color: steelblue;
  }

  .div-nav {
    border-bottom: 1px solid black;
    background-color: steelblue;
  }

  .lista-nav {
    display: grid;
    grid-template-columns: repeat(6, max-content);
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 0.5rem;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    background-color: steelblue;

    li {
      border: none;

      a {
        text-decoration: underline;
        color: white;
      }
    }
  }

  .btn {
    display: none;
  }
}