.tarjeta {
  box-shadow: 1px 1px 10px;
  width: 80%;
  max-width: 400px;
  // height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  background-color: $color-secundario;
  transition: all 0.5s;


  &__img {
    display: flex;
    grid-column: span 2;
    width: 100%;
    height: 400px;

    img {
      width: 100%;
      // height: 100%;
      object-fit: cover;
    }
  }

  &__nombre {
    @include texto-centro;
    grid-column: span 2;
    padding: 0.5rem;
    margin-bottom: 0;
  }

  &__precio {
    // text-decoration: underline;
    display: inline-block;
    font-size: 1.5rem;
    grid-column: span 2;
    margin-bottom: 0;
  }

  // &__oferta {
  //   text-decoration: line-through;
  //   display: inline-block;
  //   color: #ff4338;
  //   font-size: 2rem;
  // }
  &__botones {
    display: inline-block;
    grid-column: span 2;
    padding: 0.5rem;
  }

  button {

    i {
      font-size: 1rem;
    }
  }

  &:hover {

    box-shadow: 3px 3px 20px;
    background-color: $color-terciario;
  }
}